<?xml version="1.0"?>
<!--
/**
*  Module: jQuery AJAX-ZOOM for Magento, /app/code/local/Ax/Zoom/etc/config.xml
*  Copyright: Copyright (c) 2010-2017 Vadim Jacobi
*  License Agreement: http://www.ajax-zoom.com/index.php?cid=download
*  Version: 1.3.0
*  Date: 2017-06-25
*  Review: 2017-06-25
*  URL: http://www.ajax-zoom.com
*  Documentation: http://www.ajax-zoom.com/index.php?cid=modules&module=magento
*
*  @author    AJAX-ZOOM <support@ajax-zoom.com>
*  @copyright 2010-2017 AJAX-ZOOM, Vadim Jacobi
*  @license   http://www.ajax-zoom.com/index.php?cid=download
*/
-->

<config>

    <modules>
        <Ax_Zoom>
            <version>1.3.0</version>
        </Ax_Zoom>
    </modules>

    <global>
        <helpers>
            <axzoom>
                <class>Ax_Zoom_Helper</class>
            </axzoom>
        </helpers>
        <models>
            <axzoom>
                <class>Ax_Zoom_Model</class>
                <resourceModel>axzoom_resource</resourceModel>
            </axzoom>
            <axzoom_resource>
                <class>Ax_Zoom_Model_Resource</class>
                <entities>
                    <table_ax360set>
                        <table>ajaxzoom360set</table>
                    </table_ax360set>
                    <table_ax360>
                        <table>ajaxzoom360</table>
                    </table_ax360>
                    <table_axproducts>
                        <table>ajaxzoomproducts</table>
                    </table_axproducts>
                </entities>
            </axzoom_resource>
        </models>
        <blocks>
            <zoom>
                <class>Ax_Zoom_Block</class>
            </zoom>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tabs>Ax_Zoom_Block_Adminhtml_Tabs</catalog_product_edit_tabs>
                </rewrite>
            </adminhtml>
        </blocks>
        <resources>
            <axzoom_setup>
                <setup>
                    <module>Ax_Zoom</module>
                </setup>
            </axzoom_setup>
        </resources>
    </global>

    <frontend>
        <translate>
            <modules>
                <Ax_Zoom>
                    <files>
                        <default>Ax_Zoom.csv</default>
                    </files>
                </Ax_Zoom>
            </modules>
        </translate>

        <layout>
            <updates>
                <ax_zoom>
                    <file>axzoom.xml</file>
                </ax_zoom>
            </updates>
        </layout>

        <events>
            <catalog_controller_product_init>
                <observers>
                    <ax_zoom_model_observer>
                        <type>singleton</type>
                        <class>Ax_Zoom_Model_Observer</class>
                        <method>productBefore</method>
                    </ax_zoom_model_observer>
                </observers>
            </catalog_controller_product_init>

            <core_block_abstract_to_html_before>
                <observers>
                    <ax_zoom_model_observer>
                        <type>singleton</type>
                        <class>Ax_Zoom_Model_Observer</class>
                        <method>coreBlockBefore</method>
                    </ax_zoom_model_observer>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ax_Zoom before="Mage_Adminhtml">Ax_Zoom</Ax_Zoom>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <translate>
            <modules>
                <Ax_Zoom>
                    <files>
                        <default>Ax_Zoom.csv</default>
                    </files>
                </Ax_Zoom>
            </modules>
        </translate>

        <layout>
            <updates>
                <ax_zoom>
                    <file>axzoom.xml</file>
                </ax_zoom>
            </updates>
        </layout>

        <events>
            <catalog_product_prepare_save>
                <observers>
                    <ax_zoom_model_observer>
                        <type>singleton</type>
                        <class>Ax_Zoom_Model_Observer</class>
                        <method>save360</method>
                    </ax_zoom_model_observer>
                </observers>
            </catalog_product_prepare_save>

            <catalog_product_delete_before>
                <observers>
                    <ax_zoom_model_observer>
                        <type>singleton</type>
                        <class>Ax_Zoom_Model_Observer</class>
                        <method>deleteProduct</method>
                    </ax_zoom_model_observer>
                </observers>
            </catalog_product_delete_before>

            <catalog_product_save_before>
                <observers>
                    <ax_zoom_model_observer>
                        <type>singleton</type>
                        <class>Ax_Zoom_Model_Observer</class>
                        <method>productSaveBefore</method>
                    </ax_zoom_model_observer>
                </observers>
            </catalog_product_save_before>

            <catalog_product_save_after>
                <observers>
                    <ax_zoom_model_observer>
                        <type>singleton</type>
                        <class>Ax_Zoom_Model_Observer</class>
                        <method>productSaveAfter</method>
                    </ax_zoom_model_observer>
                </observers>
            </catalog_product_save_after>

        </events>

        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <axzoom_options>
                                            <title>AJAX ZOOM Settings</title>
                                        </axzoom_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>

    </adminhtml>

    <default>

<axzoom_options>
  <plugin_settings>
    <enableInFrontDetail>true</enableInFrontDetail>
    <displayOnlyForThisProductID/>
    <default360settings>{
    "position": "first",
    "spinReverse": "true",
    "spinBounce": "false",
    "spinDemoRounds": "3",
    "spinDemoTime": "4500"
}</default360settings>
    <pngModeCssFix>false</pngModeCssFix>
    <magentoAllImages>false</magentoAllImages>
    <magentoNoImage>false</magentoNoImage>
    <magentoAdminThumb>false</magentoAdminThumb>
  </plugin_settings>
  <general_settings>
    <divID>az_mouseOverZoomContainer</divID>
    <galleryDivID>az_mouseOverZoomGallery</galleryDivID>
    <disableAllMsg>false</disableAllMsg>
    <dotNavigation>400</dotNavigation>
    <floorWidth>true</floorWidth>
    <pngMode>null</pngMode>
    <hideGalleryOneImage>true</hideGalleryOneImage>
    <hideGalleryAddClass>axZm_mouseOverNoMargin</hideGalleryAddClass>
    <galleryHover>false</galleryHover>
    <gallerySwitchSlide>false</gallerySwitchSlide>
    <galleryAxZmThumbSlider>true</galleryAxZmThumbSlider>
    <galleryAxZmThumbSliderParamHorz>{}</galleryAxZmThumbSliderParamHorz>
    <galleryAxZmThumbSliderParamVert>{}</galleryAxZmThumbSliderParamVert>
    <thumbSliderPosition>left-bottom</thumbSliderPosition>
    <thumbSliderPositionSwitch>auto</thumbSliderPositionSwitch>
    <thumbSliderMinSize>400</thumbSliderMinSize>
    <thumbSliderDimensionHorz>80</thumbSliderDimensionHorz>
    <thumbSliderDimensionVert>80</thumbSliderDimensionVert>
    <thumbSliderAutoSizeHorz>true</thumbSliderAutoSizeHorz>
    <thumbSliderAutoSizeVert>true</thumbSliderAutoSizeVert>
    <thumbSliderAutoMarginHorz>7</thumbSliderAutoMarginHorz>
    <thumbSliderAutoMarginVert>7</thumbSliderAutoMarginVert>
    <thumbSliderAutoExtendHorz>0</thumbSliderAutoExtendHorz>
    <thumbSliderAutoExtendVert>0</thumbSliderAutoExtendVert>
    <thumbSliderHorzMargin>10</thumbSliderHorzMargin>
    <thumbsFadeIn>200</thumbsFadeIn>
    <thumbW>64</thumbW>
    <thumbH>64</thumbH>
    <thumbRetina>true</thumbRetina>
    <thumbMode>false</thumbMode>
    <qualityThumb>100</qualityThumb>
    <thumbIcon>true</thumbIcon>
    <thumbIconFile>{
    "360": "360_1.png",
    "3D": "3d_1.png",
    "youtube": "youtube_icon_30.png",
    "vimeo": "vimeo_icon_30.png",
    "dailymotion": "video_icon-30.png",
    "html5": "video_icon-30.png"
}</thumbIconFile>
    <thumbWfs>64</thumbWfs>
    <thumbHfs>64</thumbHfs>
    <thumbRetinaFs>true</thumbRetinaFs>
    <thumbModeFs>false</thumbModeFs>
    <qualityThumbFs>100</qualityThumbFs>
    <quality>90</quality>
    <qualityZoom>80</qualityZoom>
    <firstImageToLoad>1</firstImageToLoad>
    <images360firstToLoad>false</images360firstToLoad>
    <images360Thumb>true</images360Thumb>
    <images360ThumbDefaultPostion>first</images360ThumbDefaultPostion>
    <images360ThumbBeforeVideo>true</images360ThumbBeforeVideo>
    <images360Overlay>false</images360Overlay>
    <images360Small>media-360-600.png</images360Small>
    <images360Big>media-360-1200.png</images360Big>
    <images360example>mouseOverExtension360Ver5</images360example>
    <zoomMsg360>{
    "en" : "Drag to spin 360°, scroll to zoom in and out, right click and drag to pan",
    "de" : "Ziehen um 360° zu drehen, zoomen mit dem mausrad, rechte maustaste ziehen verschiebt die Ansicht",
    "fr" : "Faites glisser pour tourner à 360 °, faites défiler pour zoomer dans et hors, cliquer et faire glisser à droite pour vous déplacer",
    "es" : "Arrastrar para girar en 360º, Rueda del ratón para utilizar el Zoom, botón derecho para mover la imagen"
}</zoomMsg360>
    <zoomMsg360_touch>{
    "en" : "Drag to spin 360°, pinch to zoom in and out",
    "de" : "Ziehen um 360° zu drehen, zoomen mit zwei fingern",
    "fr" : "Faites glisser pour tourner à 360 °, pincer pour zoomer et dézoomer",
    "es" : "Arrastrar para girar en 360º, pellizcar para ampliar y reducir"
}</zoomMsg360_touch>
    <preloadMouseOverImages>true</preloadMouseOverImages>
    <noImageAvailableClass>axZm_mouseOverNoImage</noImageAvailableClass>
    <width>800</width>
    <height>800</height>
    <oneSrcImg>true</oneSrcImg>
    <heightRatio>1</heightRatio>
    <heightRatioOneImg>1</heightRatioOneImg>
    <heightMaxWidthRatio>[]</heightMaxWidthRatio>
    <widthRatio>false</widthRatio>
    <widthMaxHeightRatio>[]</widthMaxHeightRatio>
    <maxSizePrc>1.0|-120</maxSizePrc>
    <mouseOverZoomWidth>1200</mouseOverZoomWidth>
    <mouseOverZoomHeight>1200</mouseOverZoomHeight>
    <mouseOverContain>false</mouseOverContain>
    <ajaxZoomOpenMode>fancyboxFullscreen</ajaxZoomOpenMode>
    <ajaxZoomOpenModeTouch>fullscreen</ajaxZoomOpenModeTouch>
    <fancyBoxFullscreenParam>{
    "boxMargin": 30,
    "boxPadding": 10,
    "boxCenterOnScroll": true,
    "boxOverlayShow": true,
    "boxOverlayOpacity": 0.85,
    "boxOverlayColor": "#777",
    "boxTransitionIn": "fade",
    "boxTransitionOut": "fade",
    "boxSpeedIn": 300,
    "boxSpeedOut": 300,
    "boxEasingIn": "swing",
    "boxEasingOut": "swing",
    "boxShowCloseButton": true,
    "boxEnableEscapeButton": true,
    "boxOnComplete": function(){}
}</fancyBoxFullscreenParam>
    <example>mouseOverExtension360Ver5</example>
    <exampleFancyboxFullscreen>mouseOverExtension360Ver5</exampleFancyboxFullscreen>
    <enforceFullScreenRes>768</enforceFullScreenRes>
    <prevNextArrows>false</prevNextArrows>
    <prevNextArrowsTouch>true</prevNextArrowsTouch>
    <prevNextArrowsSlide>true</prevNextArrowsSlide>
    <disableScrollAnm>true</disableScrollAnm>
    <fullScreenApi>false</fullScreenApi>
    <axZmCallBacks>{}</axZmCallBacks>
    <azOptions>{}</azOptions>
    <azOptions360>{}</azOptions360>
    <postMode>false</postMode>
  </general_settings>
  <product_tour>
    <cropAxZmThumbSliderParam>{}</cropAxZmThumbSliderParam>
    <cropSliderPosition>bottom</cropSliderPosition>
    <cropSliderPositionSwitch>auto</cropSliderPositionSwitch>
    <cropSliderPosPriority>true</cropSliderPosPriority>
    <cropSliderReposition>right-bottom</cropSliderReposition>
    <cropSliderDimension>86</cropSliderDimension>
    <cropSliderThumbAutoSize>true</cropSliderThumbAutoSize>
    <cropSliderThumbAutoMargin>10</cropSliderThumbAutoMargin>
    <cropSliderThumbDescr>true</cropSliderThumbDescr>
    <cropSliderMinSize>400</cropSliderMinSize>
    <cropSliderNotParent/>
    <cropAxZmEbOpt>{
    "marginX": 5,
    "marginY": 5,
    "openSpeed": 300,
    "closeSpeed": 300,
    "fadeInSpeed": 200,
    "autoOpen": false,
    "arrow": true,
    "thumbSlider": true,
    "parO": "#axZm_zoomLayer",
    "dynText": true,
    "dynTextBtn": [
        {"base": 0.016, "min": 12, "max": 24, "important": true}
    ],
    "dynTextTitle": [
        {"base": 0.016, "min": 18, "max": 28, "important": true}
    ],
    "dynTextDescr": [
        ["*", {"base": 0.012, "min": 12, "max": 24, "important": true}],
        ["h3", {"base": 0.016, "min": 16, "max": 32, "important": true}]
    ]
}</cropAxZmEbOpt>
  </product_tour>
  <fullscreen_gallery>
    <fsAxZmThumbSliderParam>{}</fsAxZmThumbSliderParam>
    <fsSliderPosition>right-bottom</fsSliderPosition>
    <fsSliderReposition>right-bottom</fsSliderReposition>
    <fsSliderPositionSwitch>auto</fsSliderPositionSwitch>
    <fsSliderDimension>80</fsSliderDimension>
    <fsSliderThumbAutoSize>true</fsSliderThumbAutoSize>
    <fsSliderThumbAutoMargin>7</fsSliderThumbAutoMargin>
    <fsSliderThumbAutoExtend>0</fsSliderThumbAutoExtend>
    <fsSliderThumbDescr>false</fsSliderThumbDescr>
    <fsSliderMinSize>400</fsSliderMinSize>
    <fsSliderGalleryFadeInAnm>Center</fsSliderGalleryFadeInAnm>
    <fsSliderNotParent>axZm_mouseOverSpinWrapper</fsSliderNotParent>
    <onGallerySwitch>null</onGallerySwitch>
  </fullscreen_gallery>
  <mouseover>
    <position>right</position>
    <posAutoInside>150</posAutoInside>
    <touchScroll>0.8</touchScroll>
    <noMouseOverZoom>false</noMouseOverZoom>
    <noMouseOverZoomTouch>true</noMouseOverZoomTouch>
    <noMouseOverZoomInside>false</noMouseOverZoomInside>
    <noMouseOverZoomInsideTouch>true</noMouseOverZoomInsideTouch>
    <mouseOverZoomHybrid>true</mouseOverZoomHybrid>
    <slideTouchTime>200</slideTouchTime>
    <slideTime>300</slideTime>
    <posInsideArea>0.2</posInsideArea>
    <autoFlip>200</autoFlip>
    <biggestSpace>false</biggestSpace>
    <zoomFullSpace>false</zoomFullSpace>
    <zoomWidth>.product-shop|+1</zoomWidth>
    <zoomHeight>.product-essential</zoomHeight>
    <autoMargin>15</autoMargin>
    <adjustX>15</adjustX>
    <adjustY>-1</adjustY>
    <lensOpacity>1</lensOpacity>
    <lensStyle>{}</lensStyle>
    <lensClass/>
    <lensMessage>{
    "en" : "Full screen",
    "de": "Vollbild",
    "fr": "Plein écran",
    "es": "Pantalla completa"
}</lensMessage>
    <zoomAreaBorderWidth>1</zoomAreaBorderWidth>
    <galleryFade>300</galleryFade>
    <shutterSpeed>150</shutterSpeed>
    <showFade>300</showFade>
    <hideFade>300</hideFade>
    <flyOutSpeed>false</flyOutSpeed>
    <flyOutTransition>linear</flyOutTransition>
    <flyOutOpacity>0.6</flyOutOpacity>
    <flyBackSpeed>false</flyBackSpeed>
    <flyBackTransition>linear</flyBackTransition>
    <flyBackOpacity>0.2</flyBackOpacity>
    <autoScroll>false</autoScroll>
    <smoothMove>6</smoothMove>
    <tint>false</tint>
    <tintOpacity>0.3</tintOpacity>
    <tintFilter>false</tintFilter>
    <tintFilterBack>none</tintFilterBack>
    <tintLensBack>true</tintLensBack>
    <showTitle>false</showTitle>
    <titlePosition>top</titlePosition>
    <titleParentContainer/>
    <titlePermanent>false</titlePermanent>
    <cursorPositionX>0.5</cursorPositionX>
    <cursorPositionY>0.55</cursorPositionY>
    <loading>true</loading>
    <loadingMessage>{
    "en": "Loading...",
    "de": "Loading...",
    "fr": "Loading...",
    "es": "Loading..."
}</loadingMessage>
    <zoomHintEnable>true</zoomHintEnable>
    <zoomHintText>{
    "en" : "Zoom",
    "de" : "Zoom",
    "fr" : "Zoom",
    "es" : "Zoom"
}</zoomHintText>
    <zoomMsgHover>{ 
    "en" : "Roll over the image to zoom in",
    "de" : "Für größere Ansicht mit der Maus über das Bild ziehen",
    "fr" : "Survolez l'image pour zoomer",
    "es" : "Pase el cursor sbore la imagen para hacer zoom con la rueda del ratón"
}</zoomMsgHover>
    <zoomMsgHoverTouch>{ 
    "en" : "Tap to open expanded view",
    "de" : "Klicken Sie auf das Bild, um erweiterte Ansicht zu öffnen",
    "fr" : "Cliquez sur l'image pour ouvrir la vue élargie",
    "es" : "Haga clic para ampliar la imagen"
}</zoomMsgHoverTouch>
    <zoomMsgClick>{
    "en" : "Click to open expanded view",
    "de" : "Klicken Sie auf das Bild, um erweiterte Ansicht zu öffnen",
    "fr" : "Cliquez sur l'image pour ouvrir la vue élargie",
    "es" : "Haga clic para ampliar la imagen"
}</zoomMsgClick>
    <slideInTime>200</slideInTime>
    <slideInEasingCSS3>easeOutExpo</slideInEasingCSS3>
    <slideInEasing>easeOutExpo</slideInEasing>
    <slideInScale>0.8</slideInScale>
    <slideOutScale>0.8</slideOutScale>
    <slideOutOpacity>0</slideOutOpacity>
    <slideOutDest>4</slideOutDest>
    <onInit>false</onInit>
    <onLoad>false</onLoad>
    <onImageChange>false</onImageChange>
    <onMouseOver>false</onMouseOver>
    <onMouseOut>false</onMouseOut>
    <spinner>true</spinner>
    <spinnerParam>{ 
    "lines": 11,
    "length": 3,
    "width": 3,
    "radius": 4,
    "corners": 1,
    "rotate": 0, 
    "color": "#FFFFFF",
    "speed": 1,
    "trail": 90, 
    "shadow": false,
    "hwaccel": false,
    "className": "spinner", 
    "zIndex": 2e9,
    "top": 0, 
    "left": 1 
}</spinnerParam>
  </mouseover>
</axzoom_options>

    </default>
</config>